# Ignore environment files
.env
.env.docker
neo4j_auth.txt

# Ignore Python-related cache & virtual environments
**/__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.envrc

# Ignore Docker build files
*.log
docker-compose.override.yml

# Ignore IDE/project-specific files
.vscode/
.idea/
*.swp
